main {
  background-color: #f4f4f4;
  //background-image: url("../images/body_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(63, 203, 98, 0);
  box-shadow: inset 0 0 0 1000px rgba(63, 203, 98, 0);
  zoom: 75%;
  &.v-main {
    &.default {
      zoom: 75%;
    }
    &.login {
      background: transparent;
      background-image: url("https://storage.googleapis.com/aims-edu/images/000/001/174/lead/64.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
nav,
header {
  zoom: 80%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
