button {
  &.button {
    background-color: $button_color;
    span {
      color: yellowgreen;
      font-weight: bold;
      font-size: large;
    }
    &.cancel {
      span {
        color: white;
      }
      background-color: $color_warning !important;
    }
    &.upload {
      background-color: $color_teal !important;
    }
    &.warning {
      background-color: $color_warning !important;
      span.v-btn__content {
        color: $color_white !important;
      }
    }
    &.error {
      background-color: $color_error !important;
    }
    i {
      font-weight: bold;
    }
  }
}
