$color_primary: #2f4454 !global;
$color_accent: #000000;
$color_secondary: #ffffff;
$color_success: #4caf50;
$color_info: #2196f3;
$color_warning: #fb8c00;
$color_error: #ff0000;
$color_default: #ffffff;
$color_milky: #fdfff5;
$color_teal: #00897b;
$color_whitish: #f5f5f5;
$color_dlue: #303edb;
$color_white: #ffffff !global;
$button_color: #02532b;
