@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url(../fonts/oxygen/Oxygen-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), url(../fonts/fira/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ProductSans";
  font-style: normal;
  font-weight: 400;
  src: local("Product Sans"), url(../fonts/productsans/ProductSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MontSerrat";
  font-style: normal;
  font-weight: 400;
  src: local("MontSerrat"), url(../fonts/motserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SofiaPro";
  font-style: normal;
  font-weight: 400;
  src: local("Sofia Pro"), url(../fonts/sofia/Sofia-Pro-Medium.otf) format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  src: url(../fonts/mulish/Mulish-Regular.ttf);
}

#__nuxt .app {
  font-family: "FiraSans", sans-serif;
}


html,
body #app {
  -webkit-font-smoothing: antialiased;
  background: #E5E5E5 !important;
  font-style: normal !important;
  font-family: "Mulish", sans-serif !important;
  margin: 0;
  overflow-x: hidden;
  font-size: 12px !important;
  color: #2c2b2e;
  font-weight: 100;
}

/*******************
Headings
*******************/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
  -webkit-font-smoothing: antialiased;
  font-style: normal !important;
  font-size: 14px !important;
  font-family: "Mulish", sans-serif !important;
  font-weight: 100;

}