table {
  border-collapse: collapse;
  empty-cells: show;
}

tr:nth-child(odd) {
  background: #eaeaea;
  &.strikeout {
    background: red !important;
  }
}

tr:nth-child(even) {
  background: white;
  &.strikeout {
    color: red;
    font-weight: bold;
    a {
      color: red;
      font-weight: bold;
    }
  }
}

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 3px solid red;
  width: 100%;
}

tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}
td {
  position: relative;
}

th {
  text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $color_primary;
  font-weight: b;
  color: white;
  span {
    color: white;
  }
}
