@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  background-image: url("../images/body_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(63, 203, 98, 0);
  box-shadow: inset 0 0 0 1000px rgba(63, 203, 98, 0);
  zoom: 75%;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
/*hover/active styles*/
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
/*we dont need an arrow after the last link*/
/*we will use the :before element to show numbers*/
.breadcrumb {
  display: inline-block;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: #ffffff;
  padding: 0 10px 0 60px;
  background: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
  background: linear-gradient(#666, #333);
  position: relative;
}

.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
  left: 14px;
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:hover {
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
  background: linear-gradient(#333, #000);
}

.breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.707) rotate(45deg);
          transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  -webkit-box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
          box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
  background: linear-gradient(#444, #222);
  font-weight: bold;
}

.breadcrumb a.active {
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
  background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.flat a {
  background: white;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.flat a:after {
  background: white;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.flat a:before {
  background: white;
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover {
  background: #9eeb62;
}

.flat a:hover:after {
  background: #9eeb62;
}

.flat a.active {
  background: #9eeb62;
}

.flat a.active:after {
  background: #9eeb62;
}

.v-card.neo {
  background: linear-gradient(145deg, #cacaca, #ffffff);
  -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.swal-wide {
  width: 50px !important;
}

canvas {
  width: 100%;
  height: 100%;
}

.data-card {
  position: relative;
  height: 330px;
}

.data-card > data-chart {
  height: 100px;
}

.data-card > data-chart #pie-chart canvas {
  height: 50px;
  width: 50px;
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.v-tab {
  text-transform: none !important;
}

.theme--light.v-data-table tbody tr:nth-of-type(even) {
  background-color: rgba(227, 255, 235, 0);
}

.theme--dark.v-data-table tbody tr:nth-of-type(even) {
  background-color: rgba(227, 255, 235, 0);
}

.page-enter-active,
.page-leave-active {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
}

tbody tr {
  cursor: pointer;
}

tbody tr td.none-clickable {
  cursor: auto;
}
/*# sourceMappingURL=styles.css.map */