# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Projects CICD

on:
  push:
    branches: [master]
  pull_request:
    branches: [opened, labeled, master]
  issues:
    types: [opened, labeled]
  #pull_request:
  # types: [opened, labeled]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
  MY_GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:
      - name: Assign NEW issues and NEW pull requests to CHILD project
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: github.event.action == 'opened'
        with:
          project: "https://github.com/ospic/webapp/projects/1"

      - name: Assign issues and pull requests with `enhancement` label to CHILD project
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: |
          contains(github.event.issue.labels.*.name, 'enhancement') ||
          contains(github.event.pull_request.labels.*.name, 'enhancement')
        with:
          project: "https://github.com/ospic/webapp/projects/1"
          column_name: "To do"
      - name: Assign NEW issues and NEW pull requests to HEADER project
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: github.event.action == 'opened'
        with:
          project: "https://github.com/orgs/ospic/projects/1"

      - name: Assign issues and pull requests with `enhancement` label to HEADER project
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: |
          contains(github.event.issue.labels.*.name, 'enhancement') ||
          contains(github.event.pull_request.labels.*.name, 'enhancement')
        with:
          project: "https://github.com/orgs/ospic/projects/1"
          column_name: "To do"

  build:
    runs-on: ubuntu-latest
    # runs-on: self-hosted

    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1

        with:
          node-version: ${{ matrix.node-version }}
      - run: npm cache verify
      - run: npm cache clean -f
      - run: rm -rf node_modules package-lock.json 
      - run: npm i --save
      - run: npm run production
